@import "_palette.scss";

@font-face {
  font-family: Brandon Light;
  src: url(/font.woff2);
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  font-family: "Brandon Light";
  font-size: large;
  color: aliceblue;
  height: 100%;
}

body {
  display: flex;
  justify-content: left;
  align-items: left;
}

li {
  list-style-type: none;
  overflow: hidden;
}
