@import "_palette.scss";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $eton-blue;
  background-color: $deep-space-sparkle;
}

div.cWrapper {
  margin: 0 40px;
}

li {
  list-style-type: none;
  overflow: hidden;
}
