ul.navContainer {
  list-style-type: none;
  overflow: hidden;
  background: linear-gradient(124deg, #2b1de8, #ff2400);
  background-size: 100% 100%;
  position: relative;
}

ul > li {
  float: left;
}

li a {
  display: block;
  float: left;
  font-size: large;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(17, 17, 17, 0.418);
}

.active {
  background-color: #d67e195e;
}
