@import "_palette.scss";

.navUl {
  float: right;
  display: inline;
}

.navLi {
  display: block;
  float: left;
}

.A {
  text-decoration: none;
  display: block;
  margin-right: 15px;
  color: $eton-blue;
}

.navA {
  padding: 0em 0.5em;
  text-align: center;
}

.navContainer {
  position: fixed;
  border-bottom: 1px solid $medium-purple;
  height: 50px;
  width: 100%;
}

.logo {
  float: left;
}
