@import "_palette.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: auto;
  align-content: flex-start;
  padding: 0;
  scroll-behavior: auto;
}

.container::after {
  display: block;
  margin: 11px;
  flex: 999 999 auto;
}

.item {
  flex: 0 0 auto;
  margin: 11px 11px;
  border: 1px solid black;
  break-after: always;
  display: table;
  padding: 7px 10px;
}

.projectName {
  font-size: large;
}

.info {
  font-size: medium;
}

.description {
  font-size: small;
}
