@import "_palette.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: start;
}
.container:after {
  display: block;
  margin: 11px;
  flex: 999 999 auto;
}
.item {
  flex: 0 0 auto;
  margin: 11px;
  border: 1px solid black;
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 15px 50px;
}
.projectName {
  font-size: large;
}
.info {
  font-size: medium;
}
