@import "_palette.scss";

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: left;
  align-items: auto;
  align-content: flex-start;
  scroll-behavior: auto;
  break-after: always;
  padding: 10px 0px;
}

.container::after {
  display: block;
  margin: 11px;
  flex: 999 999 auto;
}

.item {
  flex: 0 0 auto;
  margin: 11px 11px;
  border: 1px solid black;
  break-after: always;
  display: table;
  padding: 7px 10px;
  display: contents;
}

.projectName {
  font-size: large;
}

.info {
  font-size: medium;
}

.description {
  font-size: small;
}
